/*dody {
    margin: 0;
}*/

.bs-const {
    background-color: gold;
}

.bs-const2 {
    background-color: darkgoldenrod;
    height: 100%;
}

.bs-col {
    height: 100vh;
    margin: 0px;
}

.bs-col:nth-child(odd) {
    background-color: bisque;
    margin: 0px;
}

.bs-col:nth-child(even) {
    background-color: coral;
    margin: 0px;
}

.scro {
    max-height: 100%;
}

.hed {
    margin: 0px;
}

.bot {
    /*position: fixed;*/
    bottom: 60%;
}


/*botstrap*/

body {
    padding-top: 50px;
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.leftli {
    left: 20px;
}